<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
  <context:annotation-config/>
  <context:component-scan base-package="com.t11e.discovery.datatool"/>
  <mvc:annotation-driven/>

  <bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
    <property name="url" value="jdbc:mysql://localhost/test"/>
    <property name="user" value="test"/>
    <property name="password" value="test"/>
  </bean>

  <bean class="com.t11e.discovery.datatool.ChangesetPublisherManager">
    <property name="publishers">
      <map>
        <entry key="test">
          <bean class="com.t11e.discovery.datatool.ChangesetPublisher">
            <property name="name" value="test"/>
            <property name="changesetExtractor">
              <bean class="com.t11e.discovery.datatool.ChangesetExtractor">
                <property name="sqlTemplates">
                  <list>
                    <bean class="com.t11e.discovery.datatool.SqlTemplate">
                      <property name="filter" value="delta"/>
                      <property name="action" value="create"/>
                      <property name="query">
                        <value>
                          <![CDATA[
                          SELECT *
                          FROM test_table
                          WHERE last_updated >= :start and last_updated < :end
                          ]]>
                        </value>
                      </property>
                      <property name="idColumn" value="id"/>
                      <property name="useLowerCaseColumnNames" value="true"/>
                      <property name="jsonColumnNames" value="jsonColumn"/>
                    </bean>
                  </list>
                </property>
              </bean>
            </property>
          </bean>
        </entry>
      </map>
    </property>
  </bean>
</beans>
