<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

  <jdbc:embedded-database id="dataSource" type="DERBY">
    <jdbc:script location="com/t11e/discovery/datatool/ChangesetExtractorTest.sql"/>
  </jdbc:embedded-database>

  <context:annotation-config/>
  <context:component-scan base-package="com.t11e"/>

  <bean class="com.t11e.discovery.datatool.ChangesetPublisherManager">
    <property name="publishers">
      <list>
        <bean class="com.t11e.discovery.datatool.ChangesetPublisher">
          <property name="name" value="dateRange"/>
          <property name="changesetExtractor" ref="dateRange"/>
        </bean>
        <bean class="com.t11e.discovery.datatool.ChangesetPublisher">
          <property name="name" value="emptyTable"/>
          <property name="changesetExtractor" ref="emptyTable"/>
        </bean>
      </list>
    </property>
  </bean>

  <bean name="dateRange" class="com.t11e.discovery.datatool.ChangesetExtractor">
    <property name="sqlTemplates">
      <list>
        <bean class="com.t11e.discovery.datatool.SqlTemplate">
          <property name="filter" value="delta"/>
          <property name="action" value="create"/>
          <property name="query">
            <value>
              <![CDATA[
              SELECT id
              FROM date_range_test
              WHERE last_updated >= :start and last_updated < :end
              ]]>
            </value>
          </property>
          <property name="idColumn" value="id"/>
          <property name="useLowerCaseColumnNames" value="true"/>
          <property name="jsonColumnNames" value="jsonColumn"/>
        </bean>
      </list>
    </property>
  </bean>

  <bean name="emptyTable" class="com.t11e.discovery.datatool.ChangesetExtractor">
    <property name="sqlTemplates">
      <list>
        <bean class="com.t11e.discovery.datatool.SqlTemplate">
          <property name="filter" value="delta"/>
          <property name="action" value="create"/>
          <property name="query">
            <value>
              <![CDATA[
              SELECT id,foo,bar,json_column
              FROM empty_table
              WHERE last_updated >= :start and last_updated < :end
              ]]>
            </value>
          </property>
          <property name="idColumn" value="id"/>
          <property name="useLowerCaseColumnNames" value="true"/>
          <property name="jsonColumnNames" value="jsonColumn"/>
        </bean>
        <bean class="com.t11e.discovery.datatool.SqlTemplate">
          <property name="filter" value="snapshot"/>
          <property name="action" value="create"/>
          <property name="query">
            <value>
              <![CDATA[
              SELECT id,foo,bar,json_column
              FROM empty_table
              WHERE last_updated < :end
              ]]>
            </value>
          </property>
          <property name="idColumn" value="id"/>
          <property name="useLowerCaseColumnNames" value="true"/>
          <property name="jsonColumnNames" value="jsonColumn"/>
        </bean>
        <bean class="com.t11e.discovery.datatool.SqlTemplate">
          <property name="filter" value="delta,snapshot"/>
          <property name="action" value="create"/>
          <property name="query">
            <value>
              <![CDATA[
              call cs_empty_table(:kind, :start, :end)
              ]]>
            </value>
          </property>
          <property name="idColumn" value="id"/>
          <property name="useLowerCaseColumnNames" value="true"/>
          <property name="jsonColumnNames" value="jsonColumn"/>
        </bean>
      </list>
    </property>
  </bean>

</beans>
